html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#room-container {
	height: 100%;
	width: 100%;
	background-color: blue;
	display: flex;
	flex-direction: row;
}

#canvas-container {
	height: 100%;
	width: 80%;
	background-color: #A6F6EF;
}

#sidebar-container {
	height: 100%;
	width: 20%;
	background-color: yellow;
}

#chat-container {
	height: 70%;
	width: 100%;
	background-color: purple;
}

#chat-display {
	height: 90%;
	width: 100%;
	background-color: #8906CD;
}

#chat-input {
	height: 10%;
	width: 100%;
	background-color: #D803C1;
}

#status-container {
	height: 30%;
	width: 100%;
	background-color: #04A5BD;
}