.lobby-container {
	height: 100%;
	width: 100%;
	background-color: #F1F1CB;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lobby-header {
	background-color: #C3D7AB;
	padding: 5px;
	border-radius: 5px;
}

.lobby-loggedin-container {
	background-color: rgba(0,0,0,0.1);
	width: 80%;
}

.lobby-username {
	border: 1px solid #FFD7D7;
}

.roomsmenu-container {
	background-color: #ED8888;
	height: 100%;
	width: 100%;
}

.roomsmenu-room {
	background-color: #ADFC8E;
	display: flex;
	flex-direction: row;
	width:100%;
}

.roomsmenu-room-player {
	background-color: #3AF835;
}

.roomsmenu-room-link {
	background-color: #FFCE0C;
}

.lobby-misc {
	background-color: #FF5BCF;
}